

<main>

  <div class="main-img-tagline-container">
    <div class="main-tagline-background">
      <div id="main-tagline">
        Voitures d'occasion expertisées et garanties entre particuliers, soigneusement préparées et livrées avec amour.
      </div>
    </div>
  </div>


  <div id="container-2">
    <p>Offrez-vous un service complet pour vous simplifier à l'extrême la vente et l'achat de votre voiture, tout en faisant des économies !</p>
  </div>

  <%= link_to 'Cliquez pour découvrir le service', commentcamarche_path, id:'CCM-button', class: 'hvr-grow' %>

  <div class="four-benefits-banner">
    <div class="benefit-element">
      <%= image_tag("euro-img.png", class:'benefit-element-img' ) %>
      <div class="sub-feature">
        Le concessionnaire sort de l'équation
      </div>
      <div class="sub-benefit">
        Meilleur prix pour vendeurs et acheteurs
      </div>
    </div>

    <div class="benefit-element">
      <%= image_tag("car-check-black.png", class:'benefit-element-img' ) %>
      <div class="sub-feature">
        Inspection 75 points et garantie 6 mois
      </div>
      <div class="sub-benefit">
        2 chiffres pour dormir sur ses 2 oreilles
      </div>      
    </div>

    <div class="benefit-element">
      <%= image_tag("heart-img.png", class:'benefit-element-img' ) %>
      <div class="sub-feature">
        Livraison et essai chez vous
      </div>
      <div class="sub-benefit">
        Paiement au coup de coeur, seulement      
      </div>
    </div>

    <div class="benefit-element">
      <%= image_tag("lock-img.png", class:'benefit-element-img' ) %>
      <div class="sub-feature">
        Paperasse gérée et paiement sécurisé
      </div>
      <div class="sub-benefit">
        Au revoir arnaques, bonjour sérénité 
      </div>
    </div>
  </div>

  <h2 class="partenaires-title">Nos partenaires</h2>

  <div class="nos-partenaires-banner">
    <%= link_to image_tag("experveo.png", class: 'partenaires-img'), "http://www.experveo.fr/", target: '_blank' %>
    <%= link_to image_tag("autovista.jpg", class: 'partenaires-img'), "http://www.autovistapro.fr/", target: '_blank' %>
    <%= link_to image_tag("lemonway.png", class: 'partenaires-img'), "https://www.lemonway.fr/", target: '_blank' %>
    <%= link_to image_tag("bnp-img.png", class: 'partenaires-img'), "http://www.bnpparibas.com/", target: '_blank' %>
    <%= link_to image_tag("mapfre-img.png", class: 'partenaires-img'), "http://www.mapfre-warranty.fr/", target: '_blank' %>
  </div>


</main>