<footer>


  <div id="footer-content">
    <ul class="footer-list CCM-footer">
      <li class="footer-title">Nationale 7</li>
      <li class="footer-link"><%= link_to 'Comment ça marche ?', commentcamarche_path, :class => "footer" %></li>
      <li class="footer-link"><%= link_to 'FAQ', faq_path, :class => "footer" %></li>            
    </ul>
    <ul class="footer-list">
      <li class="footer-title">À propos</li>
      <li class="footer-link"><%= link_to 'Qui sommes nous ?', quisommesnous_path, :class => "footer" %></li>
      <li class="footer-link"><%= link_to 'Contact', contact_path, :class => "footer" %></li>
</li>            
    </ul>
    <ul class="footer-list">
      <li class="footer-title">Conditions</li>
      <li class="footer-link"><%= link_to 'Conditions générales', conditionsgenerales_path, :class => "footer" %></li>
      <li class="footer-link"><%= link_to 'Mentions légales', mentionslegales_path, :class => "footer" %></li>            
    </ul>

    <div id="description-service">
      <p>N7 c'est l'achat et la vente de voitures d'occasion expertisées et garanties entre particuliers. Évitez le concessionnaire, offrez-vous un service complet, tout en faisant des économies !</p>
      <%= image_tag("logo-lemonway-white.png", id:'lemonway-partner-logo' ) %>
      <p class="lemonway-partner-statement">Partenaire de Lemon Way, établissement de paiement agréé par l’ACPR en France (CIB 16568).</p>
    </div>

      <div id="copyright">
        <p>© Nationale 7 - 2016 - Tous droits réservés</p>
        <p>Nationale 7 SAS - SIREN 820 295 558</p>
        <p>TVA intracommunautaire FR 81 820295558</p>
        <p>24 boulevard Saint-Denis, 75010 Paris</p>
      </div>
    </div>

</footer>

