<header>
  <%= link_to image_tag("logo-N7.png"), root_path, id: "logo" %>



  <ul class="menu align-right"> 
    <li><%= link_to 'Qui sommes nous ?', quisommesnous_path, class: "menu-link sliding-middle-out" %></li>  
    <li><%= link_to 'FAQ', faq_path, class: "menu-link sliding-middle-out" %></li>  
    <li><%= link_to 'Comment ça marche ?', commentcamarche_path, class: "menu-link sliding-middle-out" %></li>
    <li class="phone-number-header"><%= image_tag("phone-img.png", class:'phone-img' ) %><a href="tel:0176390284" id="phone-number-link">01 76 39 02 84</a></li>
  </ul>

</header>